%vp-base-input {
  border-radius: 16px;
  height: 24px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  line-height: 24px;
  height: 24px;
  cursor: pointer;
  font-size: 12px;
  padding: 0 8px;
  position: relative;
  vertical-align: middle;
}
