@import "./variables.scss";

// while 标题 decbcb
// while 上部分 dedede
//  while 下 e7e5e6

.vp-condition-module {

  min-width: 200px;
  border-radius: 6px;
  display: inline-block;
  margin: 8px;
  border: 1px solid $border-gary-color;
  overflow: hidden;

  &__title {
    background-color: #cbcbcb;
    color: #fff;
    padding: 8px;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__title.vp-while-module__title {
    background-color: #c8c4c4;
  }

  &__condition {
    padding: 8px;
    background-color: #dedede;
  }

  &__condition.vp-while-module__condition {
    background-color: #d7d4d4;
  }

  &__board {
    padding: 8px;
    background-color: #e7e5e6;
  }

  &__board.vp-while-module__board {
    background-color: #ddd
  }

  &__add-module-btn {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background-color: #fff;
    margin: 16px auto;
    text-align: center;

    i {
      line-height: 64px;
    }
  }
}
