@import "./base-module.scss";

.vp-output-module {
  @extend %vp-base-module;
  background-color: #f7cc46;
  width: 200px;

  &__title {
    @extend %vp-base-module-title;
    background-color: #ecad2c;
  }

  &__body {
    @extend %vp-base-module-body;
  }

  &__item {
    margin: 8px 0;
  }

  &__name {
    @extend %vp-base-module-subtitle;
  }
}
