@import "./variables.scss";

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-moz-keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.icon-loading-animation {
  font-size: 52px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  transform-origin: center;
  color: $operator-module-color;
  position: absolute;
  animation: spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  -o-animation: spin 1s linear infinite;
}
