@import "./variables.scss";

.vp-underline-textarea {
  width: 100%;
  height: 200px;
  padding: 8px;
  margin: 8px 0;
  color: $primary-font-color;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid $border-gary-color;
  resize: none;
  outline: none;
}
