@import "./base-module.scss";

.vp-variable-module {
  @extend %vp-base-module;
  background-color: #97d53c;
  width: 200px;

  &__title {
    @extend %vp-base-module-title;
    background-color: #85bc34;
  }

  &__body {
    @extend %vp-base-module-body;
  }

  &__item {
    margin: 8px 0;
  }

  &__name {
    @extend %vp-base-module-subtitle;
  }
}
