// Colors
// -----------------------------

$primary-color: #2196f3;
$primary-color-light: lighten($primary-color, 5%);
$primary-color-lighter: lighten($primary-color, 35%);
$primary-color-light-lighter: lighten($primary-color, 42%);
$primary-gary-color: #f7f7f7;
$darker-gary-color: #f2f2f2;
$darker-dark-gary-color: #9e9e9e;
$border-gary-color: #d9d9d9;
$primary-font-color: #666;
$sup-font-color: #999;
$disabled-font-color: #ccc;

$success-color: #4caf50;
$warning-color: #ffb300;
$error-color: #e53935;

$badge-color-default: lighten(#e53935, 5%);

$success-color-light: lighten($success-color, 5%);
$warning-color-light: lighten($warning-color, 5%);
$error-color-light: lighten($error-color, 5%);

$status-list: (success, $success-color, $success-color-light), (warning, $warning-color, $warning-color-light), (error, $error-color, $error-color-light);

// specific module color
$variable-module-color: #85bc34;
$variable-module-sub-color: #97d53c;

$input-module-color: #b31800;
$input-module-sub-color: #e94439;

$output-module-color: #ecad2c;
$output-module-sub-color: #f7cc46;

$if-module-color: #cbcbcb;
$if-module-sub-color: #eb3f2f;

$while-module-color: #cbcbcb;
$while-module-sub-color: #eb3f2f;

$operator-module-color: #2197d7;
$operator-module-sub-color: #2eabed;


$while-module-color: #c8c4c4;
$while-module-sub-color-condition: #d7d4d4;
$while-module-sub-color-board: #ddd;

$if-module-color: #cbcbcb;
$if-module-sub-color-condition: #dedede;
$if-module-sub-color-board: #e7e5e6;

$unaryOperator-module-color: #2197d7;
$unaryOperator-module-sub-color: #2eabed;
// Typography
// --------------------------------

$font-family-base: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$small-font-size: 12px;
$base-font-size: 14px;
$mid-font-size: 16px;
$line-height-base: 1.428571429;
$line-height-computed: floor($base-font-size * $line-height-base);

$base-box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
$base-transition: all 0.3s cubic-bezier(.25,.8,.25,1);

// margin
$small-margin: 8px;
$base-margin: 16px;

// padding
$small-padding: 8px;
$base-padding: 16px;

// padding
$padding-em: 0.4em 0.6em;

// Forms
// -----------------------------
$input-height-default: 28px;
$input-height-large: 32px;
$input-height-small: 22px;

// border
// -----------------------------
$border-radius-default: 4px;
